/* body{
    position: relative;
} */
header{
    width:100%;
    min-height:fit-content;
    height: 100%;
    display: flex;
    align-items: center;
    position: static;
    z-index: 2000;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:10px;
    height: 100%;
}

.container .header-left{
    flex:1;
    width:50%;
    display: flex;
    justify-content: flex-start;
}

.header-left a span:last-child{
    font-size: 1rem;
}

.header-right .user-account .user-settings{
    left:auto;
    right:0;
    transform: translateX(0);
}

/* landing section  */
section.landing{
    width:100%;
    height: 93vh;
    background-image: url("../images/sell-page-landing.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    object-fit: cover;
    position: relative;
}

.landing .overlay{
    opacity: 0;
    pointer-events: none;
    user-select: none;
    position: absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;
    z-index: 200;
    background-color: rgba(0, 0, 0, 0.644);
    transition: 0.2s ease;
}

.landing .container{
    height:100%;
}

.container .describtion{
    height:100%;
    width:50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translateX(50%);
    gap:20px;
}

.describtion h2{
    width:30%;
    color: var(--secondary-color);
    text-transform: capitalize;
    font-size: 2rem;
}

.describtion p{
    width:40%;
    color:#fff;
    font-size: 1.1rem;
}

.describtion button{
    width:150px;
    padding:10px;
    border-radius: 10px;
    border:none;
    background-color: #fff;
    color:var(--main-color);
    text-transform: capitalize;
    font-weight: bold;
    cursor: pointer;
}


/* form section  */
section.add-product{
    width:100%;
    height:93vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease;
}

section.add-product .container{
    max-width: 500px;
    width:100%;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.form-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.form-container .title{
    padding:10px;
    font-size: 25px;
    font-weight: 500;
    position: relative;
    text-transform: capitalize;
    color:var(--text-color);
}

.form-container .title::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width:30px;
    height:3px;
    background-color:var(--main-color)
}

form.add-product-form{
    display: flex;
    flex-direction: column;
}

form .input-field{
    margin-top:30px;
    height:50px;
    width:100%;
    position: relative;
}

.input-field input:not(input[type="file"]){
    width:100%;
    height:100%;
    position: absolute;
    padding:0 35px;
    outline:none;
    border:none;
    border-bottom: 2px solid #eee;
    font-size: 16px;
    transition: all 0.3s ease;
    caret-color: var(--main-color);
}
.input-field input[type="file"]{
    display: none;
}
.input-field label{
    width:100%;
    height:100%;
    position: absolute;
    z-index: 1;
    padding:0 35px;
    font-size: 16px;
    text-align: center;
    line-height: 50px;
    border:2px dashed #ccc;
    cursor: pointer;
    color:rgb(155, 151, 151);
}

.select-menu{
    margin-top:30px;
    width:100%;
}

.select-menu select{
    width: 100%;
    border: none;
    outline: none;
    padding:10px;
    color:rgb(155, 151, 151);
    background-color: transparent;
    border:1px solid rgb(155, 151, 151);
    border-radius: 10px;
    cursor: context-menu;
}

.select-menu select:focus{
    border-color: var(--main-color);
}

.text-area{
    margin-top:30px;
    width:100%;
}
.text-area textarea{
    height:60px;
    width:100%;
    border: 1px solid rgb(155, 151, 151);
    border-radius: 10px;
    padding:5px;
    caret-color: var(--main-color);
    resize: none;
}

.input-field input::placeholder{
    text-transform: capitalize;
}

.input-field input:is(:focus, :valid){
    border-bottom-color:var(--main-color);
}

.input-field input:is(:focus, :valid) ~ i{
    color:var(--main-color);
}

.input-field i{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    font-size: 22px;
    color:rgb(155, 151, 151);
    z-index: 2;
}



.input-field input[type="submit"]{
    background-color: rgb(31, 135, 219);
    border: none;
    color:#fff;
    border-radius: 10px;
    font-weight: 500;
    transition: all 0.2s ease ;
    cursor: pointer;
    text-transform: capitalize;
}

.input-field input[type="submit"]:hover{
    background-color: rgb(27, 114, 185);
    letter-spacing: 1px;
}

.form-container .not-member{
    width: 100%;
    margin-top: 35px;
    display: flex;
    justify-content: center;
    text-transform: capitalize;
    color:rgb(155, 151, 151);
}

.not-member a{
    color:rgb(27, 114, 185);
    text-decoration: none;
}


/* footer section  */
footer{
    background-color: var(--main-color);
}

.footer-navigate a.footer-item{
    color:#fff;
}

.container .water-mark span{
    color: #fff;
}