header.main-header{
    min-height: 7vh;
    height: 100%;
}
section.main-wrapper{
    flex-direction: column;
    justify-content: flex-start;
}
.main-wrapper .container{
    align-items: center;
}
.items-count span{
    color:var(--text-color);
    font-size: 1rem;
    text-transform: capitalize;
}
.products-wrapper .products-container {
    width: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap:10px;
    padding:10px 0px;
    position: relative;
    z-index: 3;
}

.products-container .heading{
    text-align: right;
    color:var(--text-color);
    padding:10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.products-container .cart-items-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap:20px;
}

.cart-items-container .product-card{
    width: 100%;
    min-height:140px;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:10px;
    padding: 10px;
    border-radius: 10px;
    background-color: #fff;
    cursor: pointer;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.product-card .info-wrapper{
    width:70%;
    display: flex;
    flex-direction: row;
    gap:20px;
}
.info-wrapper .image-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container img{
    width:140px;
    height:140px;
    object-fit: contain;
}


.info-wrapper .describtion-product-info{
    width:fit-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 15px;
}

.describtion-container {
    color:var(--text-color);
    font-weight: bold;
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
    gap:10px;
    justify-content: flex-start;
    width:70%;
}

.describtion-product-info .p-category{
    color:#777;
    font-weight: 400;
}


.product-card .describtion-product-price{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    width: 30%;
    min-height:140px;
    height: 100%;
}

.describtion-product-price .p-price{
    color:var(--secondary-color);
    font-weight: 600;
    font-size: 1rem;
}

.describtion-product-price .action-btn{
    width: fit-content;
    border:none;
    outline:0;
    background-color: var(--main-color);
    padding:10px;
    color:#fff;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 0.7rem;
    cursor: pointer;
    border-radius: 5px;
}

@media(max-width:1006px){
    .main-wrapper .container{
        width: 95%;
    }  
    
    .cart-items-container .product-card{
        flex-direction: column;
        align-items: stretch;
        width:100%;
    }

    .product-card .info-wrapper,
    .product-card .describtion-product-price{
        width: 100%;
    }

    .product-card .describtion-product-price{
        flex-direction: row;
        justify-content: space-between;
        min-height: 50px;
        height:100%;
    }
}

/* cart empty  */
.main-wrapper .empty{
    width:80%;
    min-height:80vh;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: none;
}

.empty.active{
    display: flex;
}

.empty .items-count{
    align-self: flex-start;
}

.empty .start-shopping{
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:20px;
}

.start-shopping i{
    color:var(--main-color);
    font-size: 9rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.start-shopping div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
}

.start-shopping div span{
    width:60%;
    text-align: center;
    color:var(--text-color);
    font-weight: 500;
    font-size: 1.2rem;
}

.start-shopping div a{
    text-decoration: none;
    color:var(--text-color);
    border:1px solid var(--main-color);
    border-radius: 15px;
    padding:10px;
}

.start-shopping div a:hover{
    text-decoration: underline;
}
