/* general sets  */
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

ul{
    list-style: none;
}

section.mobile-vertical{
    display: none;
}

:root{
    --main-color:rgb(37, 119, 253);
    --dropdown-hover-color:rgba(26, 22, 22, 0.986);
    --header-text-color:rgb(255, 255, 255);
    --text-color:rgb(16, 25, 41);
    --icon-head-color:rgb(40, 40, 40);
    --secondary-color:rgb(255, 194, 32);
    --dropdown-border-radius:0 0 10px 10px;
    --border-color:rgb(210, 212, 216);
}

.container{
    width:95%;
    margin:auto;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header{
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: static;
    z-index: 3;
}

header section.header{
    width:100%;
    display: flex;
    gap:20px;
    border-bottom: 1px solid var(--border-color);
}

.header .container{
    display: flex;
    gap:20px;
    padding:10px;
    height: 100%;
}

.container .header-left{
    font-size: 2rem;
    text-align: center;
}

.header-left a{
    text-decoration: none;
    color:var(--text-color);
}

a span{
    color:var(--main-color);
    font-weight: bold;
    font-size:2.5rem;
}

.container .header-fill{
    height:100%;
    flex:1;
    display: flex;
    align-items: center;
    border-radius: 5px;
    position: relative;
    padding:5px;
    border:2px solid var(--border-color);
    transition: border 0.2s linear;
}

.header-fill .search-fill{
    flex:1;
    display: flex;
    align-items: center;
}

.search-fill i{
    font-size: 1.5rem;
    color: var(--secondary-color);
}
.search-fill input{
    width:100%;
    height:100%;
    padding:5px 5px 5px 10px;
    color:var(--text-color);
    font-size: 1rem;
    outline: 0;
    border:none;
    caret-color: var(--secondary-color);
}

.search-fill input::placeholder{
    color: var(--text-color);
}

.header-fill:hover{
    border-color:var(--main-color);
}

.header-fill .search-right{
    width:fit-content;
    height:50px;
    display: flex;
    align-items: center;
}
.search-right button.search-btn{
    width:100%;
    height:90%;
    background-color: var(--main-color);
    color:#fff;
    font-weight: 600;
    text-transform: capitalize;
    font-size: 0.9rem;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    outline: 0;
    padding:10px;
}

.container .header-right{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:20px;
    max-width:fit-content;
    width:100%;
    position: relative;
}

/* .header-right .select-lang,
.header-right .user-account,
.header-right .cart{
} */

.header-right .not-signed{
    display: none;
}
.select-lang.active  .select-content,
.user-account.active  .user-settings,
.cart.active  .cart-content{
    opacity:1;
    pointer-events: auto;
}

.select-lang .selected-lang,
.user-account .show-user-info,
.cart .cart-icon{
    height:100%;
    background-color: transparent;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap:10px;
    color:var(--text-color);
    text-transform: capitalize;
    cursor: pointer;
    font-size: 1rem;
    position: relative;
    padding:10px 5px;
}

/* .selected-lang:hover,
show-user-info:hover,
.cart-icon:hover{
    background-color: var(--main-color);
    padding:5px;
    color:#fff;
    border-radius: 15px;;
} */

.selected-lang i,
.show-user-info i,
.cart-icon i{
    font-size: 1.4rem;
}

.cart-icon .badge{
    position: absolute;
    top:-5px;
    right:0;
    font-size: 0.9rem;
    font-weight: 600;
    color:#fff;
    background-color: var(--secondary-color);
    width:20px;
    height:20px;
    border-radius: 50%;
    text-align: center;
}


.select-lang .select-content,
.user-account .user-settings,
.cart .cart-content{
    padding:10px;
    font-size: 0.9rem;
    list-style: none;
    display: flex;
    flex-direction: column;
    position: absolute;
    top:calc(100% + 10px);
    left:50%;
    transform: translateX(-50%);
    width:60%;
    background-color: var(--main-color);
    border-radius:var(--dropdown-border-radius);
    opacity:0;
    pointer-events: none;
    transition: 0.2s ease;
    border-top: 3px solid var(--secondary-color);
    z-index: 1000;
}

.select-lang .select-content{
    left:0;
    transform: translateX(0);
}

.user-account hr{
    color: #fff;
    height:1px;
}

.cart .cart-content{
    width:70%;
    right:0;
    left: unset;
    transform: translateX(0);
}

.select-item a,
ul.settings a,
ul.activity a,
.cart-content li.cart-item{
    text-decoration: none;
    color: #fff;
    display: block;
    padding:10px 7px;
    transition: padding-left 0.2s linear;
    text-transform: capitalize;
    border-radius: 5px;
    cursor: pointer;
}

.select-item a:hover,
.settings a:hover , .activity a:hover,
.cart-content li.cart-item:hover{
    padding-left: 10px;
}


.cart-content button.view-all-products{
    outline:0;
    background-color: var(--secondary-color);
    border: none;
    border-radius: 5px;
    width:95%;
    margin:5px auto 10px;
    padding:5px;
    cursor: pointer;

}

.view-all-products a{
    text-decoration: none;
    color:#fff;
    text-transform: capitalize;
}


header section.navbar{
    width:100%;
    padding:5px;
    position: relative;
}

/* .navbar::after{
    content: "";
    position: absolute;
    bottom:-5px;
    right:0;
    z-index: -10;
    width:55%;
    height: 5px;
    background-color: var(--main-color);
} */

.navbar .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .nav-address-menu{
    display: flex;
    align-items: center;
    gap:20px;
}

.nav-address-menu .nav-address-item{
    color:var(--text-color);
    font-size:0.9rem ;
    text-transform: capitalize;
}

.nav-address-item i{
    color:var(--secondary-color);
    margin-right: 10px;
}

.nav-address-menu .shipping{
    display: flex;
    flex-direction: column;
    padding: 5px;
    position: relative;
}

.shipping .shipping-header{
    color: var(--text-color);
    font-size: 0.9rem;
    cursor: pointer;
}

.shipping-header i {
    color: var(--secondary-color);
    font-size: 0.9rem;
    margin-right:10px;
}

.shipping-header i:last-child{
    margin-left:8px;
    font-size: 1rem;
}

.shipping-mode-picking .shipping-mode-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
    width:100%;
    background-color:#fff;
    padding: 10px;
    border-radius: var(--dropdown-border-radius);
    border-top: 2px solid var(--secondary-color);
    position: absolute;
    top:42px;
    left:0;
    opacity: 0;
    pointer-events: none;
    transition: 0.2s ease-in-out;
}

.shipping-mode-details.active{
    opacity: 1;
    pointer-events: auto;
}

.shipping-mode-details li{
    width:90%;
    background-color: var(--main-color);
    border-radius: 10px;
    justify-content: center;
    display: flex;
    padding: 10px;
}

.shipping-mode-details .shipping-icons{
    display: flex;
}

.shipping-icons .shipping-way{
    display: flex;
    flex-direction: column;
    gap:5px;
    padding: 10px;
    cursor: pointer;
    text-align: center;
}

.shipping-way i{
    color:var(--secondary-color);
    font-size: 1.3rem;
}

.shipping-way span{
    color:#fff;
    font-size: 0.8rem;
}

.shipping-mode-details .add-address{
    display: flex;
    flex-direction: column;
    gap:10px;
}

.add-address .add-address-details{
    display: flex;
    justify-content: space-between;
}

.add-address-details i{
    color:var(--secondary-color);
    font-size: 0.9rem;
}

.add-address-details span{
    color:#fff;
    font-size: 0.8rem;
}

.add-address button.address-btn{
    border:none;
    outline:0;
    background-color: var(--secondary-color);
    padding:5px;
    color:#fff;
    text-transform: capitalize;
    font-weight: 500;
    cursor: pointer;
    border-radius: 5px;
}

.shipping-mode-details .show-choosed-info{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap:10px;
}

.show-choosed-info .choosed-address{
    display: flex;
    justify-content: space-between;
}

.choosed-address i{
    color:var(--secondary-color);
    font-size: 0.9rem;
}

.choosed-address span{
    color:#fff;
    font-size: 0.8rem;
}

.show-choosed-info .choosed-shipping{
    color:#fff;
    font-size: 0.8rem;
}

.navbar ul.nav-cat-menu{
    display: flex;
    align-items: center;
}

.nav-cat-menu li{
    text-align: center;
    padding:10px;
}

li a{
    color:var(--text-color);
    text-decoration: none;
    font-size: 0.9rem;
    text-transform: capitalize;
}

li a:hover{
    text-decoration: underline;
}

:root{
    --main-section-bkg:rgb(239, 241, 245);
    --common-margin:30px;
    --minor-margin:10px;
}
section.main-wrapper{
    width:100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: var(--main-section-bkg);
    position: relative;
    z-index: 1;
}

.navbar .overlay,
.main-wrapper .overlay{
    opacity: 0;
    pointer-events: none;
    user-select: none;
    position: absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;
    z-index: 200;
    background-color: rgba(0, 0, 0, 0.644);
    transition: 0.2s ease;
}

.overlay.active{
    opacity: 1;
    pointer-events: auto;
    user-select: auto;
}

.main-wrapper::before{
    content: "";
    position: absolute;
    top:0;
    left:0;
    z-index: -1;
    width:50%;
    height: 500px;
    background-color: var(--main-color);
    clip-path: polygon(0% 0%, 100% 0%, 0% 100%);
}

.main-wrapper::after{
    content: "";
    position: absolute;
    bottom:0;
    right:0;
    z-index: -1;
    width:50%;
    height: 500px;
    background-color: var(--main-color);
    clip-path: polygon(0% 100%, 100% 0%, 100% 100%);
}

.main-wrapper .main-section-container{
    width:80%;
    display: flex;
    flex-direction: column;
    margin-top: var(--common-margin);
}

.main-section-container .recently-added{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: var(--minor-margin);
} 

.recently-added h2{
    color:var(--text-color);
    font-size: 1.5rem;
    text-transform: capitalize;    
}

.recently-added button.learn-more{
    border:1px solid #777;
    outline:0;
    padding:10px;
    background-color: transparent;
    color:var(--text-color);
    text-transform: capitalize;
    font-weight: 500;
    cursor: pointer;
}


.products-wrapper .products-container {
    width:100%;
    border-radius: 10px;
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(250px, 1fr)); 
    justify-content: space-between;
    gap:20px;
    padding:10px 0px;
}

.products-container .product-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
    padding: 10px;
    border-radius: 10px;
    background-color: #fff;
}

.product-card .image-container{
    width: 100%;
    height:250px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-radius: 50%; */
}

.image-container img{
    width:120px;
}

.image-container i{
    position: absolute;
    top:5px;
    right:5px;
    color:var(--secondary-color);
    cursor: pointer;
    font-weight: 500;
    font-size: 1.2rem;
}
.product-card .describtion{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.describtion .product{
    color:var(--text-color);
    font-weight: bold;
    text-transform: capitalize;
}

.describtion .p-category{
    color:#777;
    font-weight: 400;
}
.describtion .p-price{
    color:var(--secondary-color);
    font-weight: 600;
    font-size: 1rem;
}

.describtion .add-to-cart{
    width: 50%;
    border:none;
    outline:0;
    background-color: var(--main-color);
    padding:5px;
    color:#fff;
    text-transform: capitalize;
    font-weight: 500;
    cursor: pointer;
    border-radius: 5px;
}