.main-wrapper .main-section-container{
    width:80%;
    display: flex;
    flex-direction: column;
    margin-top: var(--common-margin);
}

.main-section-container .recently-added{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: var(--minor-margin);
} 


.products-wrapper .products-container {
    width:100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap:10px;
    padding:10px 0px;
}

.products-container .cart-items-container{
    width:70%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap:20px;
}

.cart-items-container .product-card{
    width: 100%;
    min-height: 220px;
    height:100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap:10px;
    padding: 10px;
    border-radius: 10px;
    background-color: #fff;
    cursor: pointer;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    position: relative;
}

.product-card .image-container{
    width: 40%;
    height:100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container img{
    width:120px;
}


.product-card .describtion-container{
    width:100%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.describtion-container .describtion-product-info{
    height:100%;
    color:var(--text-color);
    font-weight: bold;
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
    gap:20px;
    justify-content: center;
    align-items: flex-start;
    width:70%;
}

.describtion-product-info .p-category{
    color:#777;
    font-weight: 400;
}

.describtion-product-info .add-to-cart{
    width: fit-content;
    border:none;
    outline:0;
    background-color: var(--main-color);
    padding:8px 10px;
    color:#fff;
    text-transform: capitalize;
    font-weight: 500;
    cursor: pointer;
    border-radius: 5px;
}
.describtion-container .describtion-product-price{
    height:100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    width: 30%;
}

.describtion-product-price .p-price{
    color:var(--secondary-color);
    font-weight: 600;
    font-size: 1rem;
    height:30px;
    position: absolute;
    top:20px;
    right:20px;
}

.describtion-product-price .remove-from-fav{
    max-width: fit-content;
    width: 100%;
    border:none;
    outline:0;
    background-color: var(--main-color);
    padding:8px;
    color:#fff;
    text-transform: capitalize;
    font-weight: 500;
    cursor: pointer;
    border-radius: 5px;
    position: absolute;
    bottom:20px;
    right:20px;
}

.main-wrapper .fav-empty{
    width:80%;
    min-height:80vh;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: none;
}

.fav-empty.active{
    display: flex;
}

.fav-empty .items-count{
    align-self: flex-start;
}

.fav-empty .start-shopping{
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:20px;
}

.start-shopping i{
    color:var(--main-color);
    font-size: 9rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.start-shopping div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
}

.start-shopping div span{
    width:60%;
    text-align: center;
    color:var(--text-color);
    font-weight: 500;
    font-size: 1.2rem;
}

.start-shopping div a{
    text-decoration: none;
    color:var(--text-color);
    border:1px solid var(--main-color);
    border-radius: 15px;
    padding:10px;
}

.start-shopping div a:hover{
    text-decoration: underline;
}
