.main-wrapper .main-section-container{
    width:80%;
    display: flex;
    flex-direction: column;
    margin-top: var(--common-margin);
}

.main-section-container .products-wrapper{
    width:100%;
    padding:25px;
}

.swiper-button-next{
    right:0;
    color:var(--secondary-color);
}

.swiper-button-prev{
    left:0;
    color:var(--secondary-color);
}

@media (max-width:760px){
    .swiper-button-prev,
    .swiper-button-next{
        display: none;
    }
}
.products-wrapper .products-container {
    width:100%;
    border-radius: 10px;
    padding:10px 0;
}

.products-container .product-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
    padding: 10px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.product-card .image-container{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding:10px;
}

.image-container img{
    width:120px;
    height:140px;
    object-fit: contain;
}

.image-container i{
    position: absolute;
    top:5px;
    right:5px;
    color:var(--secondary-color);
    cursor: pointer;
    font-weight: 500;
    font-size: 1.2rem;
}

.product-card .describtion{
    width:100%;
    min-height:200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding:15px;
}

.describtion .product{
    color:var(--text-color);
    font-weight: bold;
    text-transform: capitalize;
}

.describtion .p-name{
    display: block;
    width: 100%;
    height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.describtion .p-name:hover{
    min-height:50px;
    overflow:visible;
    text-overflow:initial;
    white-space:normal;
}

.describtion .p-category{
    color:#777;
    font-weight: 400;
}
.describtion .p-price{
    color:var(--secondary-color);
    font-weight: 600;
    font-size: 1rem;
}

.describtion button.add-to-cart{
    width: fit-content;
    border:none;
    outline:0;
    background-color: var(--main-color);
    padding:7px;
    color:#fff;
    text-transform: capitalize;
    font-weight: 500;
    cursor: pointer;
    border-radius: 5px;
}


