/* general sets  */
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html{
    scroll-behavior: smooth;
}
ul{
    list-style: none;
}
.container{
    width:95%;
    margin: 0 auto;
}
/* hide mobile vertical by default  */
section.mobile-vertical{
    display: none;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* main header that contains header and navbar  */
header.main-header{
    width:100%;
    min-height:12vh;
    height:100%;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 5;
}

.main-header section.header{
    width:100%;
    min-height:7vh;
    height:100%;
    border-bottom: 1px solid var(--border-color);
    margin-bottom:0;
}

.header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:20px;
    padding:5px;
}

.container .header-left{
    text-align: center;
    height:100%;
}

.header-left a{
    text-decoration: none;
    color:var(--text-color);
    font-size: 2rem;
}

a span{
    color:var(--main-color);
    font-weight: bold;
    font-size:2.5rem;
}

.header .header-fill{
    flex:1;
    display: flex;
    align-items: center;
    border-radius: 5px;
    transition: border 0.2s linear;
    border:2px solid var(--border-color);
    position: relative;
    height:50px;
}

.header-fill .search-results{
    width:100%;
    max-height:300px;
    height:200px;
    position: absolute;
    top:110%;
    left: 0;
    background-color: #fff;
    z-index: 20;
    border: 2px solid var(--border-color);
    border-radius: 5px;
    padding:10px;
    opacity: 0;
    user-select: none;
    pointer-events: none;
    overflow: scroll;
}

.header-fill .search-results.active{
    opacity: 1;
    user-select: auto;
    pointer-events: auto;
}
.search-results .item{
    display: flex;
    align-items: center;
    gap: 10px;
    border-bottom: 1px solid var(--border-color);
    padding: 10px;
}

.item .image-container{
    width:50px;
    height:50px;
    border-radius: 10px;
    background-color: var(--main-color);
}

.item .image-container img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.item .desc{
    overflow: hidden;
    display: flex;
    gap:20px;
}

.item .desc span{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color:var(--text-color);
}

.item .desc span.category{
    color:var(--secondary-color);
}

.header-fill .search-fill{
    height:100%;
    width:100%;
    position: absolute;
    z-index: 1;
    flex:1;
    display: flex;
    align-items: center;
}

.search-fill i{
    font-size: 1.5rem;
    padding:10px;
    color: var(--secondary-color);
}
.search-fill input{
    width:100%;
    height:100%;
    padding:5px 5px 5px 10px;
    color:var(--text-color);
    font-size: 1rem;
    outline: 0;
    border:none;
    caret-color: var(--secondary-color);
}

.search-fill input::placeholder{
    color: #ccc;
}

.header-fill:hover{
    border-color:var(--main-color);
}

.header-fill .search-right{
    position: absolute;
    right:5px;
    top:50%;
    transform: translateY(-50%);
    z-index: 2;
    width:fit-content;
    height:40px;
    display: flex;
    align-items: center;
}

.search-right button.search-btn{
    width:100%;
    height:90%;
    background-color: var(--main-color);
    color:#fff;
    font-weight: 600;
    text-transform: capitalize;
    font-size: 0.9rem;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    outline: 0;
    padding:0 7px;
}

.header .header-right{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:20px;
    max-width:fit-content;
    width:100%;
    min-height: 7vh;
    height:100%;
    position: relative;
}

.header-right .not-signed{
    display: none;
}

.select-lang.active  .select-content,
.user-account.active  .user-settings,
.cart.active  .cart-content{
    opacity:1;
    pointer-events: auto;
}

.select-lang .selected-lang,
.user-account .show-user-info,
.cart .cart-icon{
    height:100%;
    background-color: transparent;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap:10px;
    color:var(--text-color);
    text-transform: capitalize;
    cursor: pointer;
    font-size: 1rem;
    position: relative;
    padding:10px 5px;
}

.selected-lang.active,
.show-user-info.active,
.cart-icon.active{
    background-color:var(--main-color); 
    border-radius:15px;
    color:#fff;
}

.selected-lang i,
.cart-icon i{
    font-size: 1.4rem;
}

.show-user-info .image-container{
    width:50px;
    height:50px;
    overflow: hidden;
    border-radius: 50%;
    background-color: var(--main-color);
}

.show-user-info .image-container img{
    width:100%;
    height:100%;
    object-fit: contain;
}

.cart-icon .badge{
    position: absolute;
    top:-5px;
    right:0;
    font-size: 0.9rem;
    font-weight: 600;
    color:#fff;
    background-color: var(--secondary-color);
    width:20px;
    height:20px;
    border-radius: 50%;
    text-align: center;
}


.select-lang .select-content,
.user-account .user-settings,
.cart .cart-content{
    padding:10px;
    font-size: 0.9rem;
    list-style: none;
    display: flex;
    flex-direction: column;
    position: absolute;
    top:calc(100% + 5px);
    left:50%;
    transform: translateX(-50%);
    width:60%;
    background-color: var(--main-color);
    border-radius:var(--dropdown-border-radius);
    opacity:0;
    pointer-events: none;
    transition: 0.2s ease;
    border-top: 3px solid var(--secondary-color);
    z-index: 1000;
}

.select-lang .select-content{
    left:0;
    transform: translateX(0);
}

.user-account hr{
    color: #fff;
    height:1px;
}

.cart .cart-content{
    width:70%;
    max-height:40vh;
    right:0;
    left: unset;
    transform: translateX(0);
    gap:10px;
    overflow-y: scroll;
}

.cart-content .items-container{
    display: flex;
    flex-direction: column;
}

.items-container .cart-item{
    width:100%;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 10px;
    padding:7px;
    cursor: pointer;
    transition: padding-left 0.2s linear;
}

.cart-item .item-title{
    color:var(--text-color);
    width:70%;
    height:100%;
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.cart-item .item-qty{
    display: inline-block;
    width:20%;
    height:20px;
    border-radius: 10px;
    background-color: var(--secondary-color);
    color:var(--text-color);
    text-align: center;
}

.select-item a,
ul.settings a,
ul.activity a{
    text-decoration: none;
    color: #fff;
    display: block;
    padding:10px 7px;
    transition: padding-left 0.2s linear;
    text-transform: capitalize;
    border-radius: 5px;
    cursor: pointer;
}

.select-item a:hover,
.settings a:hover , .activity a:hover,
.cart-content li.cart-item:hover{
    padding-left: 10px;
}


.cart-content button.view-all-products{
    outline:0;
    background-color: var(--secondary-color);
    border: none;
    border-radius: 5px;
    width:95%;
    margin:5px auto 10px;
    padding:7px;
    cursor: pointer;
}

.view-all-products a{
    text-decoration: none;
    color:var(--text-color);
    text-transform: capitalize;
}



/* navbar style  */

header.main-header section.navbar{
    width:100%;
    min-height:5vh;
    height:100%;
    position: relative;
}

.navbar .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 5px;
}

.navbar .nav-address-menu{
    display: flex;
    align-items: center;
    gap:20px;
}

.nav-address-menu .nav-address-item{
    color:var(--text-color);
    font-size:0.9rem ;
    text-transform: capitalize;
}

.nav-address-item i{
    color:var(--secondary-color);
    margin-right: 10px;
}

.nav-address-menu .shipping{
    display: flex;
    flex-direction: column;
    padding: 5px;
    cursor: pointer;
}


.shipping-header i:last-child{
    margin-left:10px;
    font-size: 1.3rem;
}

.shipping-mode-picking .shipping-mode-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
    max-width:300px;
    width: 100%;
    background-color:#fff;
    padding: 10px;
    border-radius: var(--dropdown-border-radius);
    border-top: 2px solid var(--secondary-color);
    position: absolute;
    top:100%;
    left:0;
    opacity: 0;
    pointer-events: none;
    transition: 0.2s ease-in-out;
}

.shipping-mode-details.active{
    opacity: 1;
    pointer-events: auto;
}

.shipping-mode-details li{
    width:90%;
    background-color: var(--main-color);
    border-radius: 10px;
    justify-content: center;
    display: flex;
    padding: 10px;
}

.shipping-mode-details .shipping-icons{
    display: flex;
}

.shipping-icons .shipping-way{
    display: flex;
    flex-direction: column;
    gap:5px;
    padding: 10px;
    cursor: pointer;
    text-align: center;
}

.shipping-way i{
    color:var(--secondary-color);
    font-size: 1.3rem;
}

.shipping-way span{
    color:#fff;
    font-size: 0.8rem;
}

.shipping-icons .shipping-way:hover{
    background-color: var(--secondary-color);
    border-radius: 15px;
    font-weight: bold;
}

.shipping-icons .shipping-way:hover i{
    color:var(--main-color);
}


.shipping-mode-details .add-address,
.shipping-mode-details .show-choosed-info{
    display: flex;
    flex-direction: column;
    gap:10px;
}

.add-address .add-address-details,
.show-choosed-info .choosed-address{
    display: flex;
    justify-content: space-between;
}

.add-address-details i,
.choosed-address i{
    color:var(--secondary-color);
    font-size: 0.9rem;
}

.add-address-details span,
.choosed-address span{
    color:#fff;
    font-size: 0.8rem;
}

.add-address button.address-btn{
    border:none;
    outline:0;
    background-color: var(--secondary-color);
    padding:5px;
    text-transform: capitalize;
    font-weight: 500;
    cursor: pointer;
    border-radius: 5px;
}

.add-address button.address-btn a{
    text-decoration: none;
    color:#fff;
    width: 100%;
    display: block;
}

.add-address button.address-btn a:hover{
    text-decoration: underline;
}


.show-choosed-info .choosed-shipping{
    color:#fff;
    font-size: 0.8rem;
    text-align: center;
}

/* right menu in the  nav  */
.navbar ul.nav-cat-menu{
    display: flex;
    align-items: center;
}

.nav-cat-menu li{
    text-align: center;
    padding:10px;
}

li a{
    color:var(--text-color);
    text-decoration: none;
    font-size: 0.9rem;
    text-transform: capitalize;
}

li a:hover{
    text-decoration: underline;
}


/* main section style  */
section.main-wrapper{
    width:100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--main-section-bkg);
    position: relative;
    z-index: 3;
}

.main-wrapper .container{
    width:85%;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: var(--common-margin);
    margin-bottom: var(--common-margin);
    position: relative;
}

.container .header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: var(--minor-margin);
    padding:5px;
} 

.header h2{
    color:var(--text-color);
    font-size: 1.5rem;
    text-transform: capitalize;    
}

.main-wrapper .overlay,
.navbar .overlay{
    opacity: 0;
    pointer-events: none;
    user-select: none;
    position: absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;
    z-index: 4;
    background-color: rgba(0, 0, 0, 0.644);
    transition: 0.2s ease;
}

.main-wrapper .overlay.active,
.overlay.active{
    opacity: 1;
    pointer-events: auto;
    user-select: auto;
}
