section.main-wrapper{
    background-color: var(--main-section-bkg);
    min-height: 100vh;
}

.main-wrapper .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap:20px;
    padding:20px;
    margin-top: 20px;
}

.left-side{
    width:70%;
    display: flex;
    flex-direction: column;
}

.left-side .image-container{
    width:100%;
    max-height:400px;
    height:100%;
    padding: 20px 20px 20px 0;
    border-radius: 10px;
    display: flex;
    align-items: center;
    overflow: hidden;
    background-color: #fff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.image-container img{
    width:70%;
    height:100%;
    object-fit: contain;
    margin: auto;
}

.image-container .thumb-container{
    width:70px;
    height:400px;
}

.thumb-container img{
    display: block;
    width:100%;
    max-height:60px;
    height:100%;
    padding: 5px;
    object-fit: contain;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
    /* border-bottom: 1px solid var(--secondary-color); */
}

.thumb-container img:hover{
    filter: grayscale(100);
}


.left-side .product-describtion{
    margin-top:50px;
}

.product-describtion h2{
    color:var(--text-color);
    margin-bottom: 10px;
    text-transform: capitalize;
}

.product-describtion .product-details{
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.product-details .accordion-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 10px;
    height:50px;
    font-size: 1.1rem;
    color:var(--text-color);
    text-transform: capitalize;
    cursor: pointer;
}

.product-details.active .accordion-header{
    height:40px;
    transition: 0.3s ease;
}

.product-details .desc{
    margin:0;
    width:100%;
    padding:0 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height:0;
    transition: height 0.2s ease;
    font-size: 1rem;
    color:var(--text-color);
}

.product-details.active .desc{
    padding:10px 20px;
}

.right-side{
    width:30%;
    display: flex;
    flex-direction: column;
    gap:30px;
    background-color: #fff;
    border-radius: 10px;
    padding:25px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.right-side  .product-fav{
    display: flex;
    justify-content: space-between;
}

.product-fav .p-cat{
    color:#777;
    font-weight: 600;
}

.product-fav i{
    color:var(--secondary-color);
    font-size: 1rem;
    cursor: pointer;
}

.fav-icon.active{
    font-weight: bold;
}

.right-side .product-title{
    display: flex;
    flex-direction: column;
    gap:15px;
    color:var(--text-color);
}

.product-title .p-price{
    color:var(--secondary-color);
    font-weight: 600;
    font-size: 1rem;
}

.product-title .p-review{
    color:var(--secondary-color);
    font-size: 1rem;
    cursor: pointer;
}

.product-title button{
    width: 50%;
    border:none;
    outline:0;
    background-color: var(--main-color);
    padding:6px;
    color:#fff;
    text-transform: capitalize;
    font-weight: 500;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
}