section.main-wrapper{
    background-color: var(--main-section-bkg);
    min-height: 100vh;
}

.main-wrapper .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap:20px;
    padding:20px;
    margin-top: 20px;
    position: relative;
}

.left-side{
    width:70%;
    display: flex;
    flex-direction: column;
}

.left-side .image-container{
    width:100%;
    max-height:400px;
    height:100%;
    padding: 20px 20px 20px 0;
    border-radius: 10px;
    display: flex;
    align-items: center;
    overflow: hidden;
    background-color: #fff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.image-container img{
    width:70%;
    height:100%;
    object-fit: contain;
    margin: auto;
    cursor: pointer;
}

.image-container .thumb-container{
    width:70px;
    height:400px;
}

.thumb-container img{
    display: block;
    width:100%;
    max-height:60px;
    height:100%;
    padding: 5px;
    object-fit: contain;
    cursor: pointer;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    /* border-bottom: 1px solid var(--secondary-color); */
}

.thumb-container img:hover{
    filter: grayscale(100);
}


.left-side .modal{
    display: none;
    position: fixed;
    z-index: 20000;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 800px;
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
from {-webkit-transform:scale(0)} 
to {-webkit-transform:scale(1)}
}

@keyframes zoom {
from {transform:scale(0)} 
to {transform:scale(1)}
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
color: #bbb;
text-decoration: none;
cursor: pointer;
}


.left-side .product-describtion{
    margin-top:50px;
}

.product-describtion h2{
    color:var(--text-color);
    margin-bottom: 10px;
    text-transform: capitalize;
}

.product-describtion .product-details{
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.product-details .accordion-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 10px;
    height:50px;
    font-size: 1.1rem;
    color:var(--text-color);
    text-transform: capitalize;
    cursor: pointer;
}

.product-details.active .accordion-header{
    height:40px;
    transition: 0.3s ease;
}

.product-details .desc{
    margin:0;
    width:100%;
    padding:0 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height:0;
    transition: height 0.2s ease;
    font-size: 1rem;
    color:var(--text-color);
}

.product-details.active .desc{
    padding:10px 20px;
}

.right-side{
    width:27%;
    max-height: fit-content;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap:30px;
    background-color: #fff;
    border-radius: 10px;
    padding:25px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    /* position: absolute;
    top:20px;
    right:20px; */
}

.right-side  .product-fav{
    display: flex;
    justify-content: space-between;
}

.product-fav .p-cat{
    color:#777;
    font-weight: 600;
}

.product-fav i{
    color:var(--main-color);
    font-size: 1rem;
    cursor: pointer;
}

.fav-icon.active{
    font-weight: bold;
}

.right-side .product-title{
    display: flex;
    flex-direction: column;
    gap:15px;
    color:var(--text-color);
    padding-bottom: 10px;
    border-bottom: 1px solid var(--border-color);
}

.product-title .p-price{
    color:var(--text-color);
    font-weight: 600;
    font-size: 1.2rem;
}

.product-title .p-review{
    color:var(--text-color);
    font-size: 0.9rem;
}

.product-title .p-review i{
    color:var(--main-color);
    font-size: 0.8rem;
    cursor: pointer;
}

button.action-btn{
    width: fit-content;
    border:none;
    outline:0;
    background-color: var(--main-color);
    padding:6px;
    color:#fff;
    text-transform: capitalize;
    font-weight: 500;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
}

.right-side .product-address{
    /* background-color: red; */
    padding-bottom: 10px;
    border-bottom: 1px solid var(--border-color);
}

.product-address .address-details{
    margin-bottom: 10px;
    font-size: 1rem;
}

.address-details i{
    color:var(--main-color);
    margin-right: 7px;
}

.address-details span:first-of-type{
    color:#777;
    font-size: 0.8rem;
}

.address-details span:last-of-type{
    color:var(--text-color);
    font-size: 0.9rem;
}

.product-address .seller-details{
    display: flex;
    flex-direction: column;
    gap:7px;
    padding:10px 0;
}

.seller-details span{
    color:var(--text-color);
    font-size: 0.9rem;
}
.seller-details span span{
    color:#777;
    font-size: 0.8rem;
    text-transform: capitalize;
}

.seller-details span i{
    color:var(--main-color);
    margin-right: 7px;
}

.product-details .update-address{
    padding:10px 0;
}

.update-address a{
    text-decoration: none;
    color:#fff;
    font-size: 0.9rem;
}

.right-side .add-to-fav i{
    color:var(--main-color);
    margin-right: 7px;
    cursor: pointer;
}

.right-side .add-to-fav a{
    text-decoration: none;
    color:var(--text-color);
    font-size: 0.9rem;
}
.right-side .add-to-fav a:hover{
    text-decoration: underline;
}


@media (max-width:950px){
    .main-wrapper .container{
        flex-direction: column;
        width:95%;
    }

    .container .left-side{
        width:100%;
    }

    .container .right-side{
        width: 100%;
    }

    .left-side .image-container{
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 400px;
        padding-bottom: 0;
        padding-right: 0;
    }

    .left-side .image-container img{
        order:1;
        max-height:280px;
        height: 100%;
    }

    .left-side .image-container .thumb-container{
        order:2;
        display: flex;
        max-height: 50px;
        height: 100%;
        width: 100%;
    }

    .modal-content {
        width: 100%;
    }
}