@media (max-width:995px) {
    header.main-header{
        display: none;
    }

    footer{
        display: none;
    }

    a{
        text-decoration: none;
    }
    section.mobile-nav{
        display: block;
        width:100%;
        background-color: #fff;
        border-radius: 12px;
        padding: 0 25px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .mobile-nav ul.nav-content{
        display: flex;
        height: 80px;
        align-items: center;
        justify-content: center;
        list-style: none;
        position: relative;
    }

    .link-item{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 80px;
        width: 85px;
        text-decoration: none;
        transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    .link-item.active{
        transform: translateY(-10px);
    }
    .link-item i{
        font-size: 1.5rem;
        color: var(--text-color);
        transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    .link-item.active .link-item i{
        color: var(--main-color)
    }
    .link-text{
        position: absolute;
        font-size: 0.8rem;
        font-weight: 500;
        color: var(--main-color);
        opacity: 0;
        transform: translateY(32px);
        transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    .link-item.active .link-text{
        opacity: 1;
    }

    .indicator{
        position: absolute;
        top: -14px;
        left: 43px;
        height: 30px;
        width: 30px;
        background-color: var(--main-color);
        border: 6px solid var(--main-section-bkg);
        border-radius: 50%;
        transform: translateX(-50%);
        transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    .indicator::before,
    .indicator::after{
        content: '';
        position: absolute;
        bottom: -8px;
        height: 18px;
        width: 19px;
    }
    .indicator::before{
        left: -22px;
        background-color: #FFF;
        border-top-right-radius: 25px;
        box-shadow: 1px -13px var(--main-section-bkg);
    }
    .indicator::after{
        right: -22px;
        background-color: #FFF;
        border-top-left-radius: 25px;
        box-shadow: -1px -13px var(--main-section-bkg);
    }

    header.header-mobile{
        display: block;
        width: 100%;
    }

    
    .header-mobile .top-header{
        background-color: var(--main-color);
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .top-header .container{
        padding: 10px;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap:20px;
    }

    .top-header .container > i{
        font-size: 1.5rem;
        cursor: pointer;
        color:#fff;
    }

    .top-header .search-input{
        flex:1;
        min-height:50px;
        position: relative;
    }

    .search-input input{
        position: absolute;
        width: 100%;
        height: 100%;
        padding: 5px;
        outline: 0;
        border: 0;
        border-radius: 5px;
        caret-color: var(--main-color);
    }

    .search-input input:focus{
        border:1px solid var(--secondary-color);
    }

    .search-input i{
        position: absolute;
        top:50%;
        transform: translateY(-50%);
        right: 1px;
        background-color: var(--main-color);
        height: 98%;
        width: 40px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        color:#fff;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.2rem;
        font-weight: bold;
    }

    section.side-nav{
        position: fixed;
        z-index: 90000;
        top:0;
        left: -100%;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: #9CECFB;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to bottom, #0052D4, #65C7F7, #9CECFB);
        background: linear-gradient(to bottom, #0052D4, #65C7F7, #9CECFB); 
        transition: 0.5s ease-in-out;
    }

    .side-nav .container{
        display: grid;
        grid-template-columns: repeat(auto-fit , minmax(30% , 1fr));
        justify-content: center;
        row-gap: 20px;
        column-gap: 10px;
        padding-top: 70px;
        padding-bottom: 20px;
    }

    .cat-box{
        display: flex;
        flex-direction: column;
        max-height: 150px;
        padding: 10px;
        background-color: #fff;
        border-radius: 10px;
    }

    .cat-box .image-box{
        width:100%;
        height:80%;
    }

    .image-box img{
        width:100%;
        height:100%;
        object-fit: contain;
    }

    .cat-box .cat-name{
        text-align: center;
        padding: 5px;
        color: var(--text-color);
    }

    .container .close-btn{
        position: fixed;
        top:10px;
        right:-100%;
        font-size: 2rem;
        color:#fff;
        font-weight: bold;
        cursor: pointer;
        transition: 0.7s ease-in-out;
    }

    .container .close-btn:hover{
        color:var(--secondary-color);
    }
}