.container .header{
    margin-bottom: var(--minor-margin-settings);
    padding:10px;
    justify-content: center;
} 
.container .settings-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.settings-wrapper .settings-type{
    display: flex;
    justify-content: center;
    gap:5px;
    max-width: 500px;
    width:100%;
}

.settings-type li.settings-item{
    width:fit-content;
    background-color: var(--secondary-color);
    padding:15px;
    text-transform: capitalize;
    color:var(--text-color);
    font-weight: 600;
    font-size: 0.9rem;
    cursor: pointer;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;    
    transition: 0.3s linear;
    border-bottom: 1px solid transparent;
}

.settings-type li.settings-item:hover{
    background-color: #fff;
}

.settings-wrapper .forms-container{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 500px;
    width:100%;
}

.settings-wrapper form.address{
    display: none;
}


.settings-wrapper form{
    width:100%;
    display: flex;
    flex-direction: column;
    gap:20px;
    background-color: #fff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding:20px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;    
}

form .field-container{
    width:100%;
    padding: 10px;
    min-height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:20px;
    background-color: var(--main-color);
    border-radius: 10px;
    margin-bottom: 10px;
}

.field-container .input-field{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%;
    position: relative;
}

.field-container .image-field label{
    display: flex;
    align-items: center;
    gap:10px;
    flex-direction: row;
    cursor: pointer;
}

.image-field img{
    width:80px;
    border-radius: 50%;
}

.image-field img:hover{
    opacity: 0.8;
}

.input-field label{
    color:#fff;
    font-size: 0.9rem;
    text-transform: capitalize;
}

.input-field input{
    height:60%;
    padding:0 35px;
    outline:none;
    border:1px solid transparent;
    font-size: 16px;
    transition: all 0.3s ease;
    background-color: var(--input-bkg);
    color:var(--text-color);
    caret-color: var(--secondary-color);
}

.input-field i{
    position: absolute;
    top:80%;
    transform: translateY(-50%);
    font-size: 22px;
    color:#fff;
}

.input-field input::placeholder{
    text-transform: capitalize;
    color:var(--text-color);
}

.input-field input:is(:focus){
    border-bottom-color:var(--secondary-color);
}

.input-field input:is(:focus) ~ i{
    color:var(--secondary-color);
}

.input-field:last-child{
    min-height:70px;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
} 

.input-field input[type = "submit"]{
    width:50%;
    background-color: var(--secondary-color);
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 600;
}

input[type = "file"]{
    display: none;
}

.field-container button.edit-btn{
    width:fit-content;
    padding: 5px 10px;
    border: none;
    outline: none;
    background-color: #fff;
    color:var(--main-color);
    text-transform: capitalize;
    border-radius: 10px;
    cursor: pointer;
}

button.edit-btn:hover{
    background-color: var(--secondary-color);
    color:var(--text-color);
}