.container .section-area {
    margin-top: var(--common-margin);
}

.section-area .header{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: var(--minor-margin);
    padding:5px;
} 

.header h2{
    color:var(--text-color);
    font-size: 1.5rem;
    text-transform: capitalize;    
}

.section-area .products-wrapper{
    width:100%;
    position: relative;
    padding:20px 20px 40px 20px;
}

.products-wrapper .products-container {
    width:100%;
    border-radius: 10px;
}

.products-container .product-card{
    width:calc(100% / 5);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
    padding: 10px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    position: relative;
    transition: 0.3s ease-in-out;
}

@media(max-width:768px){
    .products-container .product-card{
        min-width: 100%;
        width: 100%;
    }
}

.product-card .image-container{
    width: 100%;
    height: 200px;
    padding:10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
}

.image-container img{
    max-width:100%;
    max-height:100%;
    object-fit: contain;
}

.product-card i{
    position: absolute;
    top:10px;
    right:10px;
    color:var(--secondary-color);
    cursor: pointer;
    font-weight: 500;
    font-size: 1.2rem;
}

.product-card .describtion{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding:15px;
    cursor: pointer;
}

.describtion .cat-price-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.cat-price-row .p-category{
    color:#777;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.cat-price-row .p-price{
    color:var(--secondary-color);
    font-weight: 500;
    font-size: 1rem;
}

.describtion .p-name{
    display: block;
    width: 100%;
    height: 40px;
    color:var(--text-color);
    font-weight: bold;
    text-transform: capitalize;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background-color: #fff;
}

.describtion .p-name:hover{
    min-height:40px;
    overflow:visible;
    text-overflow:initial;
    white-space:normal;
}

.product-card .button{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button button.add-to-cart{
    width: fit-content;
    border:none;
    outline:0;
    background-color: var(--main-color);
    padding:10px;
    color:#fff;
    text-transform: capitalize;
    font-weight: 500;
    cursor: pointer;
    border-radius: 5px;
}

/* style swiper  */
.swiper-nav-btn{
    color:var(--main-color);
    top:50%;
    transform: translateY(-50%);
    position: absolute;
}

.swiper-pagination{
    color:var(--main-color);
    bottom:0;
    left: 50%;
    position: absolute;
}

.swiper-button-next{
    right:0;
}

.swiper-button-prev{
    left:0;
}

@media (max-width:768px){
    .swiper-nav-btn,
    .swiper-pagination{
        display: none;
    }
}